@import "tailwindcss";
@import "tw-animate-css";

:root {
  --white: #fafafa;
  --light: #f8f9fa;
  --secondary: #6c757d;
  --dark: #343a40;
}

#body {
  font-family: "Rubik", sans-serif;
  width: 100vw;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
  background: #55535e;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.85),
      rgba(34, 34, 34, 0.85)
    ),
    url(assets/hero.jpg);

  /* Set a specific height */
  height: 100vh;
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  padding: 10px 16px;
  border-radius: 10px;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background-color: #f8f9fa;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  border-radius: 10px 10px 0 0;
  background-color: rgba(108, 117, 125, 0.5);
  color: var(--light);
}

.active-link {
  border-radius: 10px;
  background-color: rgba(108, 117, 125, 0.5);
}

.color-change:hover {
  color: rgba(249, 129, 71, 1);
  animation: color-rotate 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.emoji {
  animation: skew 2s infinite;
  animation-direction: alternate;
}

.hidden-l {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden-r {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.hidden-t {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}

.hidden-skill {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(10%);
  transition: all 0.8s;
}

.show-section {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes skew {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
